###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.rc linguist-language=Rust
